<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- Data Source -->
    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!-- Configure your database connection details here -->
        <beans:property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/crud?useSSL=false" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="Aksh@123" />
    </beans:bean>

    <!-- Authentication Manager -->
    <authentication-manager>
        <!-- Database User Details -->
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                users-by-username-query="SELECT username, password, '1' FROM user WHERE username = ?"
                authorities-by-username-query="SELECT username, roles FROM user WHERE username = ?" />

            <!-- Correct placement of password-encoder bean -->
          <!--    <password-encoder ref="encoder" />  --> 
           <password-encoder ref="noopPasswordEncoder" />  
        </authentication-provider>
    </authentication-manager>
    
        
    <!-- Noop Password Encoder -->
    <beans:bean id="noopPasswordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method="getInstance" />
    

    <!-- BCrypt Password Encoder 
     <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>  -->
    <!-- HTTP Security Configuration -->
    <http auto-config="true" use-expressions="true">
   
     
          <intercept-url pattern="/secure/**" access="authenticated" />  
          <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />

		<form-login login-page="/login" 
		    default-target-url="/homepage"
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" 
			login-processing-url="/auth/login_check" />

		<logout logout-success-url="/login?logout" delete-cookies="JSESSIONID" />
    </http>
    
    
</beans:beans>
